@font-face {
  font-family: 'Children Handwritten';
  src: url('https://raw.githubusercontent.com/MayaCats/discord-font/main/Children.ttf') format('truetype');
}

@font-face {
  font-family: '아기사랑체';
  src: url('https://raw.githubusercontent.com/MayaCats/discord-font/main/AgiSarang.ttf') format('truetype');
}

div, span, p, a, input, textarea, button, * {
  font-family: 'Children Handwritten', '아기사랑체', sans-serif !important;
}
